/* estilos para algunos elementos con la clase transform-hover y para las imágenes. Lo que hace es que al pasar el ratón por encima se escalan un poco más grandes */

.transform-hover {
    transition: transform 0.3s ease; 
  }
  
.transform-hover:hover {
    transform: scale(1.1);
  }

img {
    transition: transform 0.3s ease; 
}

img:hover {
    transform: scale(1.1);
}